<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/modele.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <aside class="sidebar">
    <h1>ERPNext</h1>
    <a th:href="@{/statistiques/stat}"><i class="fas fa-chart-line"></i> Statistiques</a>
    <a th:href="@{/employes}"><i class="fas fa-person"></i> Employes</a>
    <a th:href="@{/salary/summary}"><i class="fas fa-table"></i> Tableau recapitulatif</a>
    <a th:href="@{/imports}"><i class="fas fa-upload"></i> Import</a>
    <a th:href="@{/grille/insert}"><i class="fas fa-file-invoice-dollar"></i> Insertion Grille</a>
    <a th:href="@{/structures/assignment}"><i class="fas fa-file"></i> Insertion Attribution Salariale</a>
    <div class="menu-group">
      <div class="menu-toggle">
        <i class="fas fa-file-invoice"></i> Salaire <i class="fas fa-chevron-down arrow"></i>
      </div>
      <div class="submenu">
        <a th:href="@{/salaire/modification}"><i class="fas fa-pen-to-square"></i> Modification Salaire</a><br/>
        <a th:href="@{/salaire/generer}"><i class="fas fa-gears"></i> Generer Salaire</a>
      </div>
    </div>

  </aside>

  <div class="main">
    <div class="header">
      <span class="entete" th:text="${title}"></span>

      <div class="user-dropdown">
        <div class="user-dropdown-btn">
          <div class="user-avatar" th:text="${#strings.substring(loggedUser, 0, 1)}"></div>
          <span th:text="${loggedUser}"></span>
          <i class="fas fa-chevron-down" style="font-size: 0.8rem;"></i>
        </div>
        <div class="user-dropdown-content">
          <a href="#"><i class="fas fa-user"></i> Mon profil</a>
          <a href="#"><i class="fas fa-cog"></i> Paramètres</a>
          <a href="#" id="logoutLink">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
          </a>
        </div>
      </div>
    </div>

    <div class="content">
      <div th:include="${page}"></div>
    </div>
  </div>

  <form id="logoutForm" action="/deconnexion" method="get" style="display: none;"></form>

  <script>
    document.getElementById('logoutLink').addEventListener('click', function(e) {
      e.preventDefault();
      document.getElementById('logoutForm').submit();
    });

    document.querySelectorAll('.menu-toggle').forEach(toggle => {
      toggle.addEventListener('click', () => {
        const submenu = toggle.nextElementSibling;
        submenu.style.display = submenu.style.display === 'flex' ? 'none' : 'flex';
        const arrow = toggle.querySelector('.arrow');
        arrow.style.transform = submenu.style.display === 'flex' ? 'rotate(180deg)' : 'rotate(0deg)';
      });
    });
  </script>

</body>
</html>
